<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>

<div id="app-2">
    <span v-bind:title="message">
        鼠标停留查看提示信息！
    </span>
</div>

<div id="app-3">
    <p v-if="seen">显示-隐藏信息</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverserMessage">逆转消息</button>
</div>

<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
</div>

<script>
    //声明式渲染
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    });

    //条件
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen :true
        }
    });

    //循环
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos : [
                {text: 'Java'},
                {text: 'C++'},
                {text: 'Vue'}
            ]
        }
    });

    app4.todos.push({text:'Spring'});

    //处理用户输入
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue!'
        },
        methods: {
            reverserMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    })

</script>
</body>
</html>