<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" th:src="@{~/js/jquery.js}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

            $("#clear").click(function () {
                clearOrder();
            });

            $("#submit").click(function () {
                submitOrder();
            });

        });

        function submitOrder() {
            $.ajax({
                type: "POST",
                url: "/customer/order/submitOrder",
                async: false,
                dataType: "json",
                data: {
                    totalPrice : $("#totalPrice").val()
                },
                success: function (result) {
                    if (result.code === 1) {
                        $("#orderBody").remove();
                        $("#totalPrice").val(0);
                        alert("已提交订单");
                    } else{
                        alert("提交订单失败");
                    }
                }
            });
        }

        function clearOrder() {
            $.ajax({
                type: "POST",
                url: "/customer/order/clearOrder",
                async: false,
                dataType: "json",
                success: function (result) {
                    if (result.code === 1) {
                        $("#orderBody").remove();
                        $("#totalPrice").val(0);
                    }
                }
            });
        }

        function subtract(foodId, count, price) {
            $.ajax({
                type: "POST",
                url: "/customer/order/subtractFood",
                async: false,
                data: {
                    foodId: foodId,
                    count: count
                },
                dataType: "json",
                success: function (result) {
                    if (result.code === 1) {
                        var foodCount = parseInt($("#" + foodId).val());
                        if (foodCount > 0) {
                            foodCount--;
                            var totalPrice = parseFloat($("#totalPrice").val()) - parseFloat(price);
                            $("#totalPrice").val(totalPrice);
                        }
                        $("#" + foodId).val(foodCount);
                        $("#"+foodId+"price").val(foodCount * parseFloat(price));
                        if(foodCount == 0){
                            $("#"+foodId+"tr").remove();
                        }
                    }
                }
            });
        }

        function addFood(foodId, count, price) {
            $.ajax({
                type: "POST",
                url: "/customer/order/addFood",
                async: false,
                data: {
                    foodId: foodId,
                    count: count
                },
                dataType: "json",
                success: function (result) {
                    if (result.code === 1) {
                        var foodCount = parseInt($("#" + foodId).val());
                        foodCount++;
                        $("#" + foodId).val(foodCount);
                        $("#"+foodId+"price").val(foodCount * parseFloat(price));
                        var totalPrice = parseFloat($("#totalPrice").val()) + parseFloat(price);
                        $("#totalPrice").val(totalPrice);
                    }
                }
            });
        }
    </script>
</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">点餐</a></li>
        <li><a href="#">提交订单</a></li>
    </ul>
</div>

<div class="rightinfo">

    <table class="tablelist" style="margin-left: 450px; width: 300px">

        <thead>
        <tr>
            <th>菜号</th>
            <th>菜名</th>
            <th>单价</th>
            <th>份数</th>
            <th>总价</th>
        </tr>
        </thead>

        <tbody id="orderBody">
        <tr th:each="foodVo : ${orderDetailVo.foodVoList}"  th:id="${foodVo.food.id}+tr"}>
            <td th:text="${foodVo.food.id}"></td>
            <td th:text="${foodVo.food.foodName}"></td>
            <td th:text="${foodVo.food.foodPrice}"></td>
            <td>
                <input style="background-color: #66c9f3;width: 25px" value="-" type="button"
                       th:onclick="'javascript:subtract('+${foodVo.food.id}+','+${foodVo.count}+','+${foodVo.food.foodPrice}+')'"/>
                <input th:id="${foodVo.food.id}" th:value="${foodVo.count}" style="width: 15px" readonly="readonly"/>
                <input style="background-color: #66c9f3;width: 25px" value="+" type="button"
                       th:onclick="'javascript:addFood('+${foodVo.food.id}+','+${foodVo.count}+','+${foodVo.food.foodPrice}+')'"/>
            </td>
            <td>
                <input th:id="${foodVo.food.id}+price" th:value="${foodVo.foodTotalPrice}" style="width: 30px" readonly="readonly"/>
            </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <td>总价</td>
            <td>
                <input id="totalPrice" style="width: 30px" th:value="${orderDetailVo.order.priceTotal}" readonly="readonly"/>
            </td>
            <td></td>
            <td>
                <input id="clear" type="button" style="width: 30px; background-color: #66c9f3" value="清空"/>
            </td>
            <td>
                <input id="submit" type="button" style="width: 30px; background-color: #66c9f3" value="提交"/>
            </td>
        </tr>

        </tbody>

    </table>

</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
